.football-field-container img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.football-field-canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.football-field-container {
    position: relative; /* Added to position children absolutely within it */
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust based on your requirements */
    margin: 0 auto; /* Center the container if necessary */
}
