.football-field-container img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.football-field-canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.football-field-container {
    position: relative; /* Added to position children absolutely within it */
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust based on your requirements */
    margin: 0 auto; /* Center the container if necessary */
}

/* .canvasContainer{
    background-color: gray;
    height:100vh;
    position: relative;
}

.canvasBackground {
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  
.canvasBackground img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.myCanvas{
    height:100vh;
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%);
} */