.game-viewer {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: rgb(96, 126, 61);
    z-index: 1;
    width: 100px;
}
.game-viewer-resizer {
    width: 100%;
    height: 20px;
    background: rgb(44, 131, 190);
    flex-grow: 0;
}

.game-viewer-field {
    width: 100%; 
    background: white; 
}

.game-viewer-container {
    background: black;
    color: white;
    flex-grow: 1;
    padding-left: 10px;
    font-family: "Courier New";
}
