.settings-wrapper {
    display: grid;
  
    grid-template-columns: 6fr 1fr;
    grid-template-rows:  1fr 1fr;
    color:black;
    padding-left: 10px;
}

.settings-wrapper > :nth-child(2n) {
    justify-self: end; /* Align items in the second column to the right */
}

.settings-wrapper .icon {
    margin-right: 5px;
    font-size: 25px;
    vertical-align: middle;
}