.sidebar {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    background-color: white;
    min-width: 100;
    z-index: 2;
}

.sidebar-content {
  flex: 1;
  background-color: rgb(64, 64, 224);
}

.sidebar-resizer {
  width: 20px;
  background-color: black;
}
